*{
    margin: 0;
    padding: 0;
}
body{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
.box{
    background-color: aqua;
    height: 350px;
    width: 600px;
    border-radius: 15px;
    text-align: center;
    border: 3px solid black;
}
button{
    font-size: 30px;
    border-radius: 25px;
    padding: 5px 25px;
    background-color: rgb(255,255,255);
    box-shadow: 10px;
    color: rgb(93, 114, 136);;
}
button:hover{
    font-size: 30px;
    border-radius: 25px;
    padding: 5px 25px;
    background-color: rgb(93, 114, 136);
    color: white;
}

#mylabel{
    color: black;
    font-size: 140px;
}